.cooperation-map {
    margin: 0 -20px;
    height: 370px;

    @media (min-width:768px) {
        margin: 0 -30px;
        height: 400px;
    }

    @media (min-width:1280px) {
        margin: 0 -70px;
    }
}

iframe {
    width: 100%;
}