.cooperation__index {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 280px;
    margin: auto;
    justify-content: space-between;

    @media (min-width:768px) {
        width: 570px;
    }

    @media (min-width:1280px) {
        padding: 43px 77px;
    }
}

@import "cooperation__title.scss";
@import "address.scss";