@import "description__icon.scss";

.description__item {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
    @include font-style (14px, 18px, normal, $textcolor);

    @media (min-width:768px) {
        margin-bottom: 134px;
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
        line-height: 24px;
        padding-right: 30%;
    }

    @media (min-width:1280px) {
        margin-bottom: 134px;
        padding-right: 11%;
        display: block;
    }
}

/**
* for IE11 grid style
*/
@media (min-width:1280px) {
    .description__item:nth-child(4n+1) {
        grid-column: 1;
    }

    .description__item:nth-child(4n+2) {
        grid-column: 2;
    }

    .description__item:nth-child(4n+3) {
        grid-column: 3;
    }

    .description__item:nth-child(4n+4) {
        grid-column: 4;
    }
}