.description__list {
    padding: 0;

    @media (min-width:768px) {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 30px;
    }

    @media (min-width:1280px) {
        grid-template-columns: 25% 25% 25% 25%;
        column-gap: 20px;
    }
}

@import "description__item.scss";