.description__title {
    @include font-style (36px, 60px, normal, $textdark);
    font-family: "Oswald-Regular", sans-serif;
    margin: 10px 0;
    margin: 0 0 25px;

    @media (min-width:768px) {
        font-size: 60px;
        line-height: 60px;
        margin-top: 43px;
        margin-bottom: 74px;
    }

    @media (min-width:1280px) {
        margin-top: 107px;
    }
}