.add__promo-description-wrap {
    @media (min-width:768px) {
        width: 50%;
        padding-left: 25px;
        padding-top: 10px;
    }

    @media (min-width:1280px) {
        width: 100%;
        padding: 0;
    }
}

.add__promo-description {
    text-align: center;
    @include font-style (16px, 1.25, normal, #fff);

    @media (min-width:768px) {
        text-align: left;
        width: 54%;
    }

    @media (min-width:1280px) {
        width: 100%;
        text-align: center;
    }
}