.add__product-option {
    display: flex;
    justify-content: space-between;

    @media (min-width:768px) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row: 1;
    }

    @media (min-width:1280px) {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-right: 40px;
    }
}

.add__product-quantity,
.add__product-value {
    font-family: "Arial", sans-serif;
    @include font-style (14px, 1, normal, $textcolor);
}