.add__item {
    list-style: none;
    border-top: 2px solid #cdcdcd;
    border-bottom: 2px solid #cdcdcd;
    padding-bottom: 20px;
    margin-top: -2px;

    @media (min-width:768px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (min-width:1280px) {
        padding: 14px 0;

    }
}

@import "add__item-wrap.scss";