.add__promo {
    background-image: url(../img/gift-photo-mobile.jpg);
    background-repeat: no-repeat;
    width: 280px;
    height: 289px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 65px 60px 27px;
    margin: auto;

    @media (min-width:768px) {
        width: 708px;
        height: 200px;
        background-image: url(../img/gift-photo-tablet.jpg);
        flex-direction: row;
        padding: 0px 0px 8px 90px;
    }

    @media (min-width:1280px) {
        width: 245px;
        height: 289px;
        background-image: url(../img/gift-photo-desktop.jpg);
        flex-direction: column;
        padding: 65px 40px 40px 40px;
        margin: 0;
    }
}

@import "add__promo-icon.scss";
@import "add__promo-description.scss";