.add__product-title {
    font-family: "Oswald-Regular", sans-serif;
    @include font-style (16px, 1, normal, $textdark);
    text-transform: uppercase;

    @media (min-width:768px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1;
    }

    @media (min-width:1280px) {
        margin: 0;
        align-self: center;
    }

}