.form-set-personal-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media (min-width:768px) {
        margin-bottom: 20px;
    }

    @media (min-width:1280px) {
        margin-bottom: 0;
    }
}

.form-set-personal-label span {
    flex-shrink: 0;
}

/**
* input
*/
.form-set-personal-field {
    margin-left: 15px;
    flex-grow: 1;
    padding: 10px 20px;
    border: 1px solid #cdcdcd;
}

.form-set-personal-field:hover {
    border-color: #aaa;
}

.form-set-personal-field:focus {
    border-color: #000;
}