.set-comment__textarea {
    width: 100%;
    border: 1px solid #cdcdcd;
    padding: 10px;
    resize: vertical;
}

.set-comment__textarea::placeholder {
    text-transform: uppercase;
}

.set-comment__textarea:hover {
    border: 2px solid #aaa;
}

.set-comment__textarea:focus {
    border: 2px solid #000;
}