.set-additionally-wrap {
    display: flex;
    flex-direction: column;

    @media (min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@import "set-additionally__input.scss";
@import "set-additionally__label.scss"