.submit__btn {
    width: 100%;

    @media (min-width:768px) {
        width: calc(50% - 60px);
        margin-left: 30px;
        margin-right: 60px;
    }

    @media (min-width:1280px) {
        margin-left: 40px;
        margin-right: 80px;
    }
}