.product__title {
    font-family: "Oswald-Regular", sans-serif;
    @include font-style (16px, 20px, normal, $textdark);
    text-transform: uppercase;
    float: right;
    width: 50%;

    @media (min-width:768px) {
        float: none;
        width: 100%;
    }
}

.product__title_more {
    float: none;
    width: 100%;
    margin-top: 28px;

    @media (min-width:768px) {
        width: 50%;
        margin-top: 0;
        margin-bottom: -10px;
    }

    @media (min-width:1280px) {
        width: 100%;
    }
}