.product__options {
    border-collapse: collapse;
    width: 50%;

    @media (min-width:768px) {
        width: 100%;
        margin-bottom: 35px;
    }
}

.product__attribute {
    text-align: left;
}

.product__value {
    text-align: right;
}

.product__value,
.product__attribute {
    font-family: "Arial", sans-serif;
    @include font-style (12px, 16px, normal, $textdark);

    @media (min-width:768px) {
        padding: 10px 0;
        font-size: 16px;
        border-bottom: 1px solid #cdcdcd;
    }
}