.proguct__img {
    width: 140px;
    height: 144px;
    float: left;

    @media (min-width:768px) {
        float: none;
        width: auto;
        height: auto;
    }
}

/**
* img "plus"
*/
.proguct__img_more {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;

    @media (min-width:768px) {
        width: 60px;
        height: 60px;
    }
}

.proguct__img_more::before,
.proguct__img_more::after {
    content: "";
    width: 30px;
    height: 2px;
    background: #e8e8e8;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    @media (min-width:768px) {
        width: 60px;
    }
}

.proguct__img_more::before {
    top: 50%;
    transform: translate(0, -50%);
}

.proguct__img_more::after {
    top: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
}