.example__stats {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin: auto;


    @media (min-width:768px) {
        width: 366px;
        margin-left: 0;
        grid-row-start: 3;
    }

    @media (min-width:1280px) {
        grid-column-start: 1;
    }
}

@import "example__stats-item.scss"