.example__progress-wrap {
    display: flex;
    width: 200%;
    margin-bottom: 30px;
    transition: .4s;

    @media (min-width:768px) {
        width: 100%;
        position: relative;
        height: 517px;
        width: 690px;
        margin-left: auto;
        margin-right: auto;
    }
}

.example__progress-wrap.example__progress-wrap_after {
    transform: translateX(-50%);
}

@import "example__progress-img.scss";