.example__progress-bar-wrap {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;

    @media (min-width:768px) {
        width: 570px;
        height: 30px;
    }
}

@import "example__progress-button.scss";
@import "example__progress-toggle.scss";
@import "example__range.scss";