.example__subtitle {
    @include font-style (14px, 18px, normal, $textcolor);
    font-family: "Arial", sans-serif;

    @media (min-width:768px) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 50px;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    @media (min-width:1280px) {
        grid-column-end: 2;
        grid-column-start: 1;
    }
}