.head-content__can--wrap {
    text-align: center;

    @media (min-width:768px) {
        margin-top: -66px;
    }

    @media (min-width:1280px) {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 6;
        margin-left: -10px;
        margin-top: 0;
    }
}

.head-content__can {
    width: 280px;
    height: auto;

    @media (min-width:768px) {
        width: 709px;

    }

    @media (min-width:1280px) {
        width: 552px;

    }
}