.head-content {
    margin: 0 -20px 20px;

    @media (min-width: 768px) {
        background-image: none;
        margin-bottom: 0;
    }

    @media (min-width: 1280px) {
        background-image: url(../img/index-background-desktop.jpg);
        background-position: 100% 0;
        background-size: 720px auto;
        margin-right: -70px;
        padding-top: 142px;
        margin-bottom: 135px;
        background-repeat: no-repeat;
    }
}

/**
* mobile-background
*/
.mobile-background {
    background-color: #63a73a;
    background-image: url(../img/index-background-mobile.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    height: 305px;
    margin-bottom: -304px;

    @media (min-width:768px) {
        display: none;
    }
}


@import "head-content--wrap.scss"