/**
* stylization of the logo in the mobile version
*/
.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header__logo a:focus {
    outline: 2px solid #777;
}

@import "adaptive-header-logo.scss";