@import "header__logo.scss";
@import "burger.scss";
@import "nav.scss";

.header {
    @media (min-width:768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 18px;
    }

    @media (min-width:1280px) {
        padding: 0 40px;
        margin-top: 42px;
        padding-right: 0;
        width: 100%;
    }
}

.header_absolute {
    @media (min-width:1280px) {
        position: absolute;
    }
}